<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Welcome {{ user.firstname }}!<span class="text-info pull-right">{{ "now"|date("m/d/Y") }}</span></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{ asset('assets/img/'~user.profilepicture) }}" class="img-circle img-responsive pp"></div>
                        <hr class="style-two">
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td class="td_title"><i class="fa fa-user-circle"></i> Username</td>
                                    <td><p>{{ user.username }}</p></td>
                                </tr>
                                <tr>
                                    <td class="td_title"><i class="fa fa-globe"></i> Nationality</td>
                                    <td class="apl_bdd"><p>{{ user.nationality |upper}}</p></td>
                                </tr>
                                <tr>
                                    <td class="td_title"><i class="fa fa-language"></i> Native Language</td>
                                    <td class="apl_bdd"><p>{{ user.nativelanguage|upper }}</p></td>
                                </tr>
                                <tr>
                                    <td class="td_title"><i class="fa fa-paypal"></i> Paypal Account</td>
                                    <td class="apl_bdd">{{ user.paypalaccount }}</td>
                                </tr>
                                <tr>
                                    <td class="td_title"><i class="fa fa-mail-forward"></i> Email</td>
                                    <td class="apl_bdd">{{ user.email }}</a></td>
                                </tr>
                                    <td class="td_title"><i class="fa fa-phone"></i> Phone Number</td>
                                    <td class="apl_bdd">555-4567-890(Mobile)</td>
                                </tr>
                                </tbody>
                            </table>
                            <span class="pull-right">
                                <a href="{{ path('fos_user_profile_edit') }}" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn btn-warning"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>