{% extends "::base.html.twig" %}

{% block content %}
    <h2>firstName</h2>
    {{ user.firstName }}
    <h2>lastName</h2>
    {{ user.lastName }}
    <h2>language Needed</h2>
    {{ demand.languageNeeded}}
    <h2>location</h2>
    {{ demand.location}}
    <h2>institution Involved</h2>
    {{ demand.institutionInvolved}}
    <h2>institution Name</h2>
    {{ demand.institutionName}}
{% endblock %}